@import "./css-config/mixins.scss";

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}
html{
  font-size: 62.5%;
  @include sm{
    font-size: 45%;
  }
  @include ssm{
    font-size: 33%;
  }
}